/*PARA EL FORMULARIO DE EDIT - DELETE - NEW*/

.btn-form {
    width: 240px;
    height: 40px;
    background: #7209b7;
    border: none;
    /*margin-top: 130px;*/
    position: relative;
    top: 110px;
    left: 66px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
  }
  .btn-form:hover {
    background-color: #480ca8;
    color: #fff;
  }
  .btn-form a {
    text-decoration: none;
    color: #fff;
  }